.list-group {
    display: none;
}
.show {
    display: block;
}
.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
  }
  .show-modal {
    visibility: visible;
    opacity: 1;
  }
  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  } 
  .main-bg {
    padding: 100px 20px;
    background: lightgrey;
}

/* 다크 모드 */
/* .dark {
    background-color: black;
    color: white;
} */

/* -------------------------캐러셀---------------------*/

/* slide-container를 왼쪽으로 이동시키면 됨 */
.slide-container {
  /* 브라우저 폭(100vw)의 3배 */
  width: 300vw; 
  /* margin-left: -200vw; */
  /* transform: translateX(-100vw); */
  /* margin-left보다 부드러워서 성능상 굳 */
  transition: all 1s;
}
.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.navbar { 
  position: fixed; /* 상단 고정 */
  width: 100%; 
  z-index: 5;
}

.navbar-brand {
  font-size: 30px; /* 애니메이션 시작 스타일 */
  transition: all 1s;
}

.navbar-scroll {
  font-size: 20px; /* 애니메이션 끝 스타일 */
}